@import "tailwindcss";

:root {
  --background: #8d3b7d;
  --foreground: #1d1130;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
